/* common shared styles */
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 70%;
  max-width: 1140px;
  margin: 0 auto;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  padding: 18px 35px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.btn-primary:hover {
  background: #181818;
  cursor: pointer;
  transition: 0.5s;
}
/* nav related styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 230px;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}

/* header related styles */
header {
  background: #fff8f3;
  background-image: url("../images/header-bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
.banner {
  display: flex;
  align-items: center;
  padding: 45px 35px 0 230px;
  justify-content: space-between;
}
.banner-content {
  max-width: 580px;
}
.banner .profile-pic {
  width: 580px;
}
.banner-greeting {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0;
}
.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}
