/* common shared styles */
body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  padding: 18px 35px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.btn-primary:hover {
  background: #181818;
  cursor: pointer;
  transition: 0.5s;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  width: 827px;
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 auto;
}
/* nav related styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 230px;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}

/* header related styles */
header {
  background: #fff8f3;
  background-image: url("../images/header-bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
.banner {
  display: flex;
  align-items: center;
  padding: 45px 35px 0 230px;
  justify-content: space-between;
}
.banner-content {
  max-width: 580px;
}
.banner .profile-pic {
  width: 580px;
}
.banner-greeting {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0;
}
.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

/* main section styles */
main {
  width: 70%;
  max-width: 1140px;
  margin: 0 auto;
}
/* about section styles */
.about {
  border-radius: 10px;
  background: #fff8f3;
  padding: 130px;
  margin-top: 130px;
}
.info-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.about-info {
  text-align: center;
}
.info-title {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0;
}
.info-description {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 10px;
}

/* what i do section styles */
.what-i-do {
  margin-top: 130px;
}
#what-i-do-decription {
  width: 905px;
}
.skills-container {
  display: flex;
  gap: 24px;
  margin-top: 50px;
}
.skills {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-title {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
  margin-top: 35px;
}
.skills-description {
  width: 201px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
}

/* resume section styles */
.resume {
  margin-top: 130px;
}
.resume-container {
  display: flex;
  gap: 70px;
  margin-top: 90px;
}
.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0;
}
.resume-item-institute {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0;
}
.resume-item-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
}
.resume-container hr {
  margin: 30px 30px 30px 0;
}
.download-cv {
  text-align: center;
  margin-top: 50px;
}

/* footer styles */
footer {
  display: flex;
  background: #fff8f3;
  gap: 115px;
  margin-top: 110px;
  padding: 130px 230px;
}
.footer-column {
  width: 50%;
}
#section-title {
  text-align: left;
}
#section-description {
  color: #474747;
  width: 562px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
  text-align: left;
}
.social-links a {
  margin-right: 24px;
}
.contact input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  display: block;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 18px 30px;
  border-radius: 5px;
  background: #fff;
  color: #757575;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  border: none;
  outline: none;
}
